<div class="nav-container">
  <div class = "links">
    <div><%= link_to "Home", root_path %></div>
    <div><%= link_to "New Cert", new_cert_path %></div>
  </div>
  <div class ="links">
    <div><%= link_to "Profile", edit_user_registration_path %></div>
    <div><%= link_to "Logout", destroy_user_session_path %></div>
  </div>
</div>