*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /*border: 1px solid black;*/
    color: #242124;
    font-family: "Poppins", Sans-Serif, serif;
    background-color: #CF5A3A ;
}
img{
    width: 150px;
    height: auto;
}
.container{
    display: grid;
    grid-template: repeat(5,auto)/repeat(8, 1fr);

}

.nav-section{
    /*display: grid;*/
    /*justify-self: space-between;*/
    grid-column: 1/9;
    grid-row: 1/2;
    margin: 35px 0;

}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E0E1E0;
    border-radius: 10px;
    margin: 0 15%;
}

.links, .links *{
    background-color: #E0E1E0;
}

.nav-left{
    display: flex;
    gap: 30px;
}

.main{
    grid-column: 2/8;
    grid-row: 3/auto;
    gap: 15px;
}

.cert-display-card{
    display:grid;
    grid-template: 5fr/repeat(auto-fit, minmax(auto, 400px));
    justify-content: center;
    gap: 15px;
}

.cert{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 125px) );
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    padding: 25px 15px;
    column-gap: 15%;
    row-gap: 5%;

}
.cert, .details-panel, .name, .expires, .image-panel, .cert-link, p{
    background-color: #E0E1E0;
}

.details-panel, .expires{
    width: fit-content;
}

a{
    font-size: large;
    font-weight: 900;
}


